<h1>{{ title }}</h1>
<div *ngIf="customer">
    <hr />
    <label>Name: </label><br />
    <input [(ngModel)]="customer.name" placeholder="name"><br />
    <label>Id: </label><br />
    <input [(ngModel)]="customer.id" placeholder="id"><br />
<ul>
    <strong>Invoices</strong>
    <li *ngFor="let invoice of customer.salesInvoice">
        <span>ID: {{invoice.id}} </span>
        <span>Amount: {{invoice.invoiceAmount}}</span> 
        <span>Tax: {{invoice.tax}}</span>  
        <ul>
            <strong>Line Items</strong>
            <li *ngFor="let line of invoice.lineItem">
                <span>line Number: {{line.lineNumber}} </span> 
                <span>price: {{line.purchasePrice}}</span> 
                <ul>
                    <strong>Products</strong>
                    <li *ngFor="let product of line.product">
                        <span>Id: {{product.id}} </span> 
                        <span>Name: {{product.name}}</span> 
                    </li>
                </ul>
            </li>
        </ul>
        <!--button (click)="gotoInvoiceDetail(invoice.id)">View Invoice</button-->
    </li>
</ul>
</div>


