<h1>{{ title }}</h1>
<div *ngIf="salesInvoice">
    <hr />
    <label>Id: </label><br />
    <input [(ngModel)]="salesInvoice.id" placeholder="id"><br />
    <label>Amout: </label><br />
    <input [(ngModel)]="salesInvoice.invoiceAmount" placeholder="amout"><br />
    <label>Tax: </label><br />
    <input [(ngModel)]="salesInvoice.tax" placeholder="tax"><br />    
    <ul>
    	<strong>Line Items</strong>
	    <li *ngFor="let lineItem of salesInvoice.lineItem">
	        <span>Number: {{lineItem.lineNumber}} </span> 
	        <span>Price: {{lineItem.purchasePrice}}</span> 
	        <ul>
	        	<strong>Productos</strong>
	        	<li *ngFor="let product of lineItem.product">
	        		<span>Id: {{product.id}} </span> 
	        		<span>Name: {{product.name}}</span> 
	        	</li>
	        </ul>
	    </li>
	</ul>
</div>

